#include "resource.h"

// Define icon
IDI_ICON       ICON         "charon.ico"

// Define system tray right click menu
IDC_TRAY_CONTEXT_MENU MENU BEGIN
    POPUP "&Test"
    BEGIN
	    MENUITEM "Open config file",  IDM_SHOW_CONFIG_FILE
	    MENUITEM "Open log file",     IDM_SHOW_LOG_FILE
		MENUITEM SEPARATOR
        MENUITEM "E&xit",             IDM_EXIT
    END
END
